{# src/layouts/base.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="user-nav-tab" role="tablist">
                <a href="{{ path('user_show', {'id' : user.id}) }}" class="nav-item nav-link tab-1" id="user-nav-1" >
                    {{ 'USER_STEP1'|trans|raw }}
                </a>
                <a href="{{ path('user_edit', {'id' : user.id}) }}" class="nav-item nav-link tab-4" id="user-nav-4" >
                    {{ 'USER_EDIT_DATA'|trans|raw }}
                </a>
                <a class="nav-item nav-link tab-2 active" id="user-nav-2" data-toggle="tab" href="#user-tab-2" role="tab">
                    {{ 'USER_PASSWORD_CHANGE'|trans|raw }}
                </a>
            </div>
        </nav>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="user-tab-1" role="tabpanel">
                {% include 'users/partials/header.html.twig' with {
                    title: 'USER_PASSWORD_CHANGE'|trans|raw,
                    buttons: []
                } %}

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message |trans }}
                    </div>
                {% endfor %}

                {{ form_start(form, {'attr': {'id':'formPasswordChange','action':path('user_password_change', {id: user.id}), 'novalidate': 'novalidate', 'class': 'has-validation'}}) }}

                {# campo escondido pro chrome nao autocompletar a data por causa do campo password na sequencia #}
                <input type="hidden" style="height:0px;border:none;padding:0;">
                <div class="row">
                    <div class="col-lg-6 text-left">
                        <div class="password-tip alert alert-warning">
                            <ul>
                                <li>
                                    <i class="fas fa-exclamation-triangle"></i>
                                    <b>{{ 'Password setting rules' | trans }}</b>
                                </li>
                                <li>- {{ '8 characters minimum' | trans }}</li>
                                <li>- {{ 'Minimum 1 number' | trans }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 form-group{% if form.password.first.vars['errors']|length > 0 %} has-invalid {% endif %}">
                        {{ form_label(form.password.first, "Password") }}
                        {{ form_widget(form.password.first, {'attr': {'id':'password', 'class': 'form-control'}}) }}
                        {% if form.password.first.vars['errors']|length > 0 %}
                            <div class="form-error invalid-feedback">
                                {{ form.password.first.vars['errors'][0].message }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-3 form-group">
                        {{ form_label(form.password.second, "Confirm") }}
                        {{ form_widget(form.password.second, {'attr': {'id':'confirm', 'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-md-right mt-5">
                        <button type="submit" class="btn btn-primary btn-lg btCadastro">{{ 'STEP_FORWARD'|trans }} <i id="btnLoad"></i></button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user') }}
{% endblock %}
