{# src/layouts/base.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="formDiv">
            <div class="form-progress d-none d-md-block">
                <div class="time">
                    {{ 'INPUT_TIME'|trans|raw }}:
                </div>
                <div class="steps" id="articleTimeLine">
                    <div class="step f active" data-step="1">
                        <span>5 min</span><br/>
                        <i class="fas fa-circle"></i><br/>
                        {{ 'ARTICLE_STEP1'|trans|raw }}
                    </div>
                    <div class="step" data-step="2">
                        <span>4 min</span><br/>
                        <i class="fas fa-circle"></i><br/>
                        {{ 'ARTICLE_STEP2'|trans|raw }}
                    </div>
                    <div class="step" data-step="3">
                        <span>3 min</span><br/>
                        <i class="fas fa-circle"></i><br/>
                        {{ 'ARTICLE_STEP3'|trans|raw }}
                    </div>
                    <div class="step" data-step="4">
                        <span>1 min</span><br/>
                        <i class="fas fa-circle"></i><br/>
                        {{ 'ARTICLE_STEP4'|trans|raw }}
                    </div>
                    <div class="step l" data-step="5">
                        <span>0 min</span><br/>
                        <i class="fas fa-circle"></i><br/>
                        {{ 'ARTICLE_STEP5'|trans|raw }}
                    </div>
                </div>
            </div>
            <div class="mobileSteps d-md-none">{{ 'STEP'|trans }} <span>{{ step }}</span>/5</div>
          {{ form_start(form, {'attr': {'id':'formArticleStep', 'enctype':'multipart/form-data'}}) }}
                <div id="articleForm" class="form">
                    <input type="hidden" id="step" name="step" value="{{ step }}">
                    {% include "@Base/user_articles/forms/stepOne.html.twig" %}
                    {% include "@Base/user_articles/forms/stepTwo.html.twig" %}
                    {% include "@Base/user_articles/forms/stepThree.html.twig" %}
                    {% include "@Base/user_articles/forms/stepFour.html.twig" %}
                    {% include "@Base/user_articles/forms/stepFive.html.twig" %}
                </div>

                <div class="row">
                    <div class="col-lg-6 mt-5">
                        <a class="btn btn-outline-primary btCadastroVoltar">{{ 'STEP_BACK'|trans }}</a>
                    </div>
                    <div class="col-lg-6 mt-5">
                        <a class="btn btn-primary btn-lg btn-block btCadastro">{{ 'STEP_FORWARD'|trans }} <i id="btnLoad"></i></a>
                    </div>
                </div>

          {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_articles') }}
{% endblock %}
