{{ form_start(form, {'attr': {'id':'eventoForm', 'class': 'form', 'action':path(app.request.get('_route'), {id: event.id}), 'novalidate': 'novalidate', 'enctype':'multipart/form-data'}}) }}

<div class="row">
    <div class="col-12 form-group">
        <label>{{ 'Status'|trans }}</label>
        <div class="radiocheck center">
            <div class="form-check form-check-inline">
                {{ form_widget(form.status, {'attr': {'id':'status', 'class': 'form-check-input'}}) }}
                {% if form.status.vars['errors']|length > 0 %}
                    <div class="form-error invalid-feedback">
                        {{ form.status.vars['errors'][0].message }}
                    </div>
                {% endif %}
            </div>
            <div class="form-check form-check-inline">
                {{ form_widget(form.isHomolog, {'attr': {'id':'isHomolog', 'class': 'form-check-input'}}) }}
                <label class="form-check-label" for="event_isHomolog">{{ 'GESTOR_INFO_LABEL_HOM'|trans }}</label>
                {% if form.isHomolog.vars['errors']|length > 0 %}
                    <div class="form-error invalid-feedback">
                        {{ form.isHomolog.vars['errors'][0].message }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header" id="header1" data-toggle="collapse" data-target="#collapse1" data-toggle="tooltip">
        {{ 'MANAGER_NEW_DESC'|trans }} ({{ 'LANG_PT'|trans }})
    </div>
    <div id="collapse1" class="collapse" aria-labelledby="header1">
        <div class="card-body">
            <div class="row form mt-0">
                <div class="col-md-6 form-group">
                    <label class="form-check-label" for="event_namePortuguese">{{ 'Name'|trans }}</label>
                    {{ form_widget(form.namePortuguese, {'attr': {'id':'namePortuguese', 'class': 'form-control'}}) }}
                    {% if form.namePortuguese.vars['errors']|length > 0 %}
                        <div class="form-error invalid-feedback">
                            {{ form.namePortuguese.vars['errors'][0].message }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6 form-group">
                    <label class="form-check-label" for="event_titlePortuguese">{{ 'GESTOR_INFO_LABEL_TITLE'|trans }}</label>
                    {{ form_widget(form.titlePortuguese, {'attr': {'id':'titlePortuguese', 'class': 'form-control'}}) }}
                    {% if form.titlePortuguese.vars['errors']|length > 0 %}
                        <div class="form-error invalid-feedback">
                            {{ form.titlePortuguese.vars['errors'][0].message }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-12 form-group">
                    <label class="form-check-label" for="event_descriptionPortuguese">{{ 'GESTOR_INFO_LABEL_DESCRIPTION'|trans }}</label>
                    {{ form_widget(form.descriptionPortuguese, {'attr': {'id':'descriptionPortuguese', 'class': 'htmleditor'}}) }}
                    {% if form.descriptionPortuguese.vars['errors']|length > 0 %}
                        <div class="form-error invalid-feedback">
                            {{ form.descriptionPortuguese.vars['errors'][0].message }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header" id="header2" data-toggle="collapse" data-target="#collapse2">
        {{ 'MANAGER_NEW_DESC'|trans }} ({{ 'LANG_EN'|trans }})
    </div>
    <div id="collapse2" class="collapse" aria-labelledby="header2">
        <div class="card-body">
            <div class="row form mt-0">
                <div class="col-md-6 form-group">
                    <label class="form-check-label" for="event_nameEnglish">{{ 'Name'|trans }}</label>
                    {{ form_widget(form.nameEnglish, {'attr': {'id':'nameEnglish', 'class': 'form-control'}}) }}
                    {% if form.nameEnglish.vars['errors']|length > 0 %}
                        <div class="form-error invalid-feedback">
                            {{ form.nameEnglish.vars['errors'][0].message }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6 form-group">
                    <label class="form-check-label" for="event_titleEnglish">{{ 'GESTOR_INFO_LABEL_TITLE'|trans }}</label>
                    {{ form_widget(form.titleEnglish, {'attr': {'id':'titleEnglish', 'class': 'form-control'}}) }}
                    {% if form.titleEnglish.vars['errors']|length > 0 %}
                        <div class="form-error invalid-feedback">
                            {{ form.titleEnglish.vars['errors'][0].message }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-12 form-group">
                    <label class="form-check-label" for="event_descriptionEnglish">{{ 'GESTOR_INFO_LABEL_DESCRIPTION'|trans }}</label>
                    {{ form_widget(form.descriptionEnglish, {'attr': {'id':'descriptionEnglish', 'class': 'htmleditor'}}) }}
                    {% if form.descriptionEnglish.vars['errors']|length > 0 %}
                        <div class="form-error invalid-feedback">
                            {{ form.descriptionEnglish.vars['errors'][0].message }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header" id="header3" data-toggle="collapse" data-target="#collapse3">
        {{ 'MANAGER_NEW_DESC'|trans }} ({{ 'LANG_ES'|trans }})
    </div>
    <div id="collapse3" class="collapse" aria-labelledby="header3">
        <div class="card-body">
            <div class="row form mt-0">
                <div class="col-md-6 form-group">
                    <label class="form-check-label" for="event_nameSpanish">{{ 'Name'|trans }}</label>
                    {{ form_widget(form.nameSpanish, {'attr': {'id':'nameSpanish', 'class': 'form-control'}}) }}
                    {% if form.nameSpanish.vars['errors']|length > 0 %}
                        <div class="form-error invalid-feedback">
                            {{ form.nameSpanish.vars['errors'][0].message }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6 form-group">
                    <label class="form-check-label" for="event_titleSpanish">{{ 'GESTOR_INFO_LABEL_TITLE'|trans }}</label>
                    {{ form_widget(form.titleSpanish, {'attr': {'id':'titleSpanish', 'class': 'form-control'}}) }}
                    {% if form.titleSpanish.vars['errors']|length > 0 %}
                        <div class="form-error invalid-feedback">
                            {{ form.titleSpanish.vars['errors'][0].message }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-12 form-group">
                    <label class="form-check-label" for="event_descriptionSpanish">{{ 'GESTOR_INFO_LABEL_DESCRIPTION'|trans }}</label>
                    {{ form_widget(form.descriptionSpanish, {'attr': {'id':'descriptionSpanish', 'class': 'htmleditor'}}) }}
                    {% if form.descriptionSpanish.vars['errors']|length > 0 %}
                        <div class="form-error invalid-feedback">
                            {{ form.descriptionSpanish.vars['errors'][0].message }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-6 form-group">
        <label>&nbsp;</label>
        <div class="radiocheck center">
            <div class="form-check form-check-inline">
                {{ form_widget(form.isShowPreviousEventsHome, {'attr': {'class': 'form-check-input'}}) }}
                <label class="form-check-label" for="event_isShowPreviousEventsHome">{{ 'Exibir eventos anteriores na home'|trans }}</label>
                {% if form.isShowPreviousEventsHome.vars['errors']|length > 0 %}
                    <div class="form-error invalid-feedback">
                        {{ form.isShowPreviousEventsHome.vars['errors'][0].message }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-6 form-group">
        <label>{{ 'GESTOR_NUMBER_WORDS'|trans }}</label>
        {{ form_widget(form.numberWords, {'attr': {'id':'numberWords', 'class': 'form-control'}}) }}

        {% if form.numberWords.vars['errors']|length > 0 %}
            <div class="form-error invalid-feedback">
                {{ form.numberWords.vars['errors'][0].message }}
            </div>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-12 form-group">
        <label>{{ 'ISSN'|trans }}</label>
        {{ form_widget(form.issn, {'attr': {'class': 'form-control'}}) }}

        {% if form.issn.vars['errors']|length > 0 %}
            <div class="form-error invalid-feedback">
                {{ form.issn.vars['errors'][0].message }}
            </div>
        {% endif %}
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 form-group">
        <label>{{ 'Divisões'|trans }}</label>

        {% for checkbox in form.divisions.children %}
            <div>
                {{ form_widget(checkbox, {'attr': {'class': 'form-input-check checkbox' } }) }}
                {{ form_label(checkbox) }}
            </div>
        {% endfor %}

        {% if form.divisions.vars['errors']|length > 0 %}
            <div class="form-error invalid-feedback">
                {{ form.divisions.vars['errors'][0].message }}
            </div>
        {% endif %}

    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <a class="btn btn-lg btn-outline-primary" href="{{ path('manager_index') }}">{{ 'CANCEL'|trans }}</a>
    </div>
    <div class="col-md-6">
        <button type="submit" class="btn btn-lg btn-block btn-primary">
            {{ 'SAVE'|trans }} <i id="btnLoad"></i>
        </button>
    </div>
</div>

{{ form_end(form) }}
