<main id="como-citar" class="palestrantes apresentacao">
    <section class="banner__apresentacao">
        <div class="banner__content">
            <div id="breadcrumb">
                <div class="content">
                    <div class="row">
                        <p>Anpad</p>
                        <span> / </span>
                        <p><a href="#">{{ 'EVENT_TITLE'|trans }}</a></p>
                        <span> / </span>
                        <p><a href="#">{{ 'EVENT_TITLE'|trans }}</a></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row py-3">
                    <div class="col-lg-6">
                        <div class="banner-text">
                            <span>{{edition.dateStart|date('d')}} a {{edition.dateEnd|date('d/m/y')}}</span>
                            <h1>{{ edition.name }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content__citacao">
        <div class="container">
            <div class="content__citacao--intro mb-5 pb-3">
                <h2>Como citar o EnANPAD</h2>
                <h3>Referências Bibliográficas - EnANPAD 2021</h3>
            </div>
            <div class="row flex-column-reverse flex-lg-row">
                <div class="col-lg-10">
                    <div class="content__citacao--texto">
                        <h2>Associação Brasileira de Normas Técnicas (ABNT)</h2>
                        <p><b>Sugestão de citação para trabalho todo o evento:</b> ENCONTRO DA ASSOCIAÇÃO NACIONAL DE PÓS-GRADUAÇÃO E PESQUISA EM ADMINISTRAÇÃO, 45., 2021, on-line. Anais eletrônicos [...]. Maringá: Associação Nacional de Pós-Graduação e Pesquisa em Administração, 2021. Disponível em: http://anpad.com.br/pt_br/event/details/114. Acesso em: 04 out. 2021.</p>
                        <div class="destaque">
                            <p><span>Modelo</span></p>
                            <p>Sugestão de citação para trabalho todo o evento: ENCONTRO DA ASSOCIAÇÃO NACIONAL DE PÓS-GRADUAÇÃO E PESQUISA EM ADMINISTRAÇÃO, 45., 2021, on-line. Anais eletrônicos [...]. Maringá: Associação Nacional de Pós-Graduação e Pesquisa em Administração, 2021. Disponível em: http://anpad.com.br/pt_br/event/details/114. Acesso em: 04 out. 2021.</p>
                        </div>
                        <p>Sugestão de citação para todo o evento: ENCONTRO DA ASSOCIAÇÃO NACIONAL DE PÓS-GRADUAÇÃO E PESQUISA EM ADMINISTRAÇÃO, 45., 2021, on-line. Anais eletrônicos [...]. Maringá: Associação Nacional de Pós-Graduação e Pesquisa em Administração, 2021. Disponível em: http://anpad.com.br/pt_br/event/details/114. Acesso em: 04 out. 2021.</p>
                        <div class="destaque">
                            <p><span>Modelo</span></p>
                            <p>Sugestão de citação para trabalho todo o evento: ENCONTRO DA ASSOCIAÇÃO NACIONAL DE PÓS-GRADUAÇÃO E PESQUISA EM ADMINISTRAÇÃO, 45., 2021, on-line. Anais eletrônicos [...]. Maringá: Associação Nacional de Pós-Graduação e Pesquisa em Administração, 2021. Disponível em: http://anpad.com.br/pt_br/event/details/114. Acesso em: 04 out. 2021.</p>
                        </div>
                    </div>
                    <div class="content__citacao--texto">
                        <h2>Normas da APA</h2>
                        <p>Sugestão de citação para trabalho todo o evento: ENCONTRO DA ASSOCIAÇÃO NACIONAL DE PÓS-GRADUAÇÃO E PESQUISA EM ADMINISTRAÇÃO, 45., 2021, on-line. Anais eletrônicos [...]. Maringá: Associação Nacional de Pós-Graduação e Pesquisa em Administração, 2021. Disponível em: http://anpad.com.br/pt_br/event/details/114. Acesso em: 04 out. 2021.</p>
                        <div class="destaque">
                            <p><span>Modelo</span></p>
                            <p>Sugestão de citação para trabalho todo o evento: ENCONTRO DA ASSOCIAÇÃO NACIONAL DE PÓS-GRADUAÇÃO E PESQUISA EM ADMINISTRAÇÃO, 45., 2021, on-line. Anais eletrônicos [...]. Maringá: Associação Nacional de Pós-Graduação e Pesquisa em Administração, 2021. Disponível em: http://anpad.com.br/pt_br/event/details/114. Acesso em: 04 out. 2021.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="content__citacao--refere d-flex d-lg-block align-items-center">
                        <p>Referências Bibliográficas</p>
                        <p>Normas da APA</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>