<main id="palestrantes" class="palestrantes apresentacao">
    <section class="banner__apresentacao">
        <div class="banner__content">
            <div id="breadcrumb">
                <div class="content">
                    <div class="row">
                        <p>Anpad</p>
                        <span> / </span>
                        <p><a href="#">{{ 'EVENT_TITLE'|trans }}</a></p>
                        <span> / </span>
                        <p><a href="#">{{ 'EVENT_TITLE'|trans }}</a></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row py-3">
                    <div class="col-lg-6">
                        <div class="banner-text">
                            <span>{{edition.dateStart|date('d')}} a {{edition.dateEnd|date('d/m/y')}}</span>
                            <h1>{{ edition.name }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content__palestrantes">
        <div class="container">
            <h2 class="pb-5 pb-md-0">{{ 'EVENT_DETAILS_LABEL_MAIN_SPEAKERS'|trans }}</h2>
            <div class="row">
                <div class="col-md-6 col-lg-3 pb-md-5 box">
                    <div class="content__palestrantes--box">
                        <img src="{{ asset('build/images/v2/image-5.png') }}" alt="">
                        <div class="palestrantes__content">
                            <h3>Quinetta Roberson</h3>
                            <p>P.h.D. em administração</p>
                        </div>
                    </div>
                    <div class="content__palestrantes--hover">
                        <h3>Quinetta Roberson</h3>
                        <p>Professora de Administração e Psicologia na Michigan State University. Antes de sua posição atual, ela foi catedrática na Villanova University e professora titular na Cornell University.</p>
                        <a href="">Saiba mais</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pb-md-5 mt-n5 mt-md-0 box">
                    <div class="content__palestrantes--box">
                        <img src="{{ asset('build/images/v2/image-6.png') }}" alt="">
                        <div class="palestrantes__content">
                            <h3>Christian M. Ringle</h3>
                            <p>P.h.D. em administração</p>
                        </div>
                    </div>
                    <div class="content__palestrantes--hover">
                        <h3>Christian M. Ringle</h3>
                        <p>Professora de Administração e Psicologia na Michigan State University. Antes de sua posição atual, ela foi catedrática na Villanova University e professora titular na Cornell University.</p>
                        <a href="">Saiba mais</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pb-md-5 mt-n5 mt-md-0 box">
                    <div class="content__palestrantes--box">
                        <img src="{{ asset('build/images/v2/image-4.png') }}" alt="">
                        <div class="palestrantes__content">
                            <h3>Marte Cecilie W. Solheim</h3>
                            <p>P.h.D. em administração</p>
                        </div>
                    </div>
                    <div class="content__palestrantes--hover">
                        <h3>Marte Cecilie W. Solheim</h3>
                        <p>Professora de Administração e Psicologia na Michigan State University. Antes de sua posição atual, ela foi catedrática na Villanova University e professora titular na Cornell University.</p>
                        <a href="">Saiba mais</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pb-md-5 mt-n5 mt-md-0 box">
                    <div class="content__palestrantes--box">
                        <img src="{{ asset('build/images/v2/image-3.png') }}" alt="">
                        <div class="palestrantes__content">
                            <h3>Benny Tjahjono</h3>
                            <p>P.h.D. em administração</p>
                        </div>
                    </div>
                    <div class="content__palestrantes--hover">
                        <h3>Benny Tjahjono</h3>
                        <p>Professora de Administração e Psicologia na Michigan State University. Antes de sua posição atual, ela foi catedrática na Villanova University e professora titular na Cornell University.</p>
                        <a href="">Saiba mais</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pb-md-5 mt-n5 mt-md-0 box">
                    <div class="content__palestrantes--box">
                        <img src="{{ asset('build/images/v2/image-4.png') }}" alt="">
                        <div class="palestrantes__content">
                            <h3>Marte Cecilie W. Solheim</h3>
                            <p>P.h.D. em administração</p>
                        </div>
                    </div>
                    <div class="content__palestrantes--hover">
                        <h3>Marte Cecilie W. Solheim</h3>
                        <p>Professora de Administração e Psicologia na Michigan State University. Antes de sua posição atual, ela foi catedrática na Villanova University e professora titular na Cornell University.</p>
                        <a href="">Saiba mais</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pb-md-5 mt-n5 mt-md-0 box">
                    <div class="content__palestrantes--box">
                        <img src="{{ asset('build/images/v2/image-5.png') }}" alt="">
                        <div class="palestrantes__content">
                            <h3>Quinetta Roberson</h3>
                            <p>P.h.D. em administração</p>
                        </div>
                    </div>
                    <div class="content__palestrantes--hover">
                        <h3>Quinetta Roberson</h3>
                        <p>Professora de Administração e Psicologia na Michigan State University. Antes de sua posição atual, ela foi catedrática na Villanova University e professora titular na Cornell University.</p>
                        <a href="">Saiba mais</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pb-md-5 mt-n5 mt-md-0 box">
                    <div class="content__palestrantes--box">
                        <img src="{{ asset('build/images/v2/image-3.png') }}" alt="">
                        <div class="palestrantes__content">
                            <h3>Benny Tjahjono</h3>
                            <p>P.h.D. em administração</p>
                        </div>
                    </div>
                    <div class="content__palestrantes--hover">
                        <h3>Benny Tjahjono</h3>
                        <p>Professora de Administração e Psicologia na Michigan State University. Antes de sua posição atual, ela foi catedrática na Villanova University e professora titular na Cornell University.</p>
                        <a href="">Saiba mais</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pb-md-5 mt-n5 mt-md-0 box">
                    <div class="content__palestrantes--box">
                        <img src="{{ asset('build/images/v2/image-6.png') }}" alt="">
                        <div class="palestrantes__content">
                            <h3>Christian M. Ringle</h3>
                            <p>P.h.D. em administração</p>
                        </div>
                    </div>
                    <div class="content__palestrantes--hover">
                        <h3>Christian M. Ringle</h3>
                        <p>Professora de Administração e Psicologia na Michigan State University. Antes de sua posição atual, ela foi catedrática na Villanova University e professora titular na Cornell University.</p>
                        <a href="">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </section>        
</main>