{# src/layouts/base.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ 'JOIN_TITLE'|trans }}{% endblock %}

{% block body %}
<div class="container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link tab-4 active" id="nav-1" data-toggle="tab" href="#tab-1" role="tab">
        {{ 'JOIN_STEP1'|trans|raw }}
      </a>
      <a class="nav-item nav-link tab-4" id="nav-2" data-toggle="tab" href="#tab-2" role="tab">
        {{ 'JOIN_STEP2'|trans|raw }}
      </a>
    </div>
  </nav>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
      {% include '@Base/association/tabs/new.html.twig' %}
    </div>
    <div class="tab-pane fade" id="tab-2" role="tabpanel">
      {% include '@Base/association/tabs/history.html.twig' %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('associate') }}
{% endblock %}