<div class="stepsTab" data-step="5">
  <div class="text-center">
    <div class="col-lg-6 offset-lg-3">
      <h1>{{ 'ARTICLE_STEP5_HEAD'|trans }}</h1>
      <div class="cadastroSuccess">
        <div class="title">{{ 'ARTICLE_SENT_MSG1'|trans }}</div>
        <div>{{ 'ARTICLE_SENT_MSG2'|trans }}.</div>
      </div>
      <a  href="{{ path('index') }}" class="btn btn-block btn-primary">{{ 'PANEL_BACK'|trans }}</a>
    </div>
  </div>
</div>