{# src/layouts/base.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
  <div class="fieldset">
    <div class="row">
      <div class="col-md-10">
        <h1>{{ 'SYS_EV_REPORT_TITLE'|trans }}: {{ 'SYS_EV_REPORT_ARTICLES_QTD'|trans }}</h1>
      </div>
      <div class="col-md-2">
        <!--a class="btn btn-primary btn-sm float-right mr-1" data-toggle="tooltip" title="{{ 'SYS_EV_REPORT_EXCEL'|trans }}"><i class="fas fa-file-excel"></i></a-->
      </div>
    </div>
    <!--form action="/system_evaluation/reports/articles_theme" class="form mt-0">
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="filter-search">{{ 'SYS_EV_REPORT_FORM_SEARCH'|trans }}</label>
          <input type="text" name="filter-search" id="filter-search" class="form-control">
          <a class="inputSearchBtn"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </form-->
    <div class="tabela my-2">
      <table class="table table-sm table-striped table-responsive-md">
        <thead>
          <tr class="fw-normal">
            <th class="">{{ 'SYS_EV_REPORT_TH_AUTHOR'|trans }}</th>
            <th class="">{{ 'CPF'|trans }}</th>
            <th class="">{{ 'SYS_EV_REPORT_TH_PASSPORT'|trans }}</th>
            <th class="">{{ 'SYS_EV_REPORT_TH_QTD'|trans }}</th>
            <th class="">{{ 'SYS_EV_REPORT_TH_ARTICLES'|trans }}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in tableData %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.doc }}</td>
            <td>{{ item.passport }}</td>
            <td>{{ item.qtd }}</td>
            <td>{{ item.articles|join(' - ') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
