{# src/layouts/base.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
  <div class="fieldset">
    <div class="row">
      <div class="col-md-10">
        <h1>{{ 'SYS_EV_REPORT_TITLE'|trans }}: {{ 'SYS_EV_REPORT_INPROGRESS'|trans }}</h1>
      </div>
      <div class="col-md-2">
        <!--a class="btn btn-primary btn-sm float-right mr-1" data-toggle="tooltip" title="{{ 'SYS_EV_REPORT_EXCEL'|trans }}"><i class="fas fa-file-excel"></i></a-->
      </div>
    </div>
    <!--form action="/system_evaluation/reports/coord_division" class="form mt-0">
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="filter-status">{{ 'SYS_EV_REPORT_FORM_STATUS'|trans }}</label>
          <select name="filter-status" id="filter-status" class="form-control">
            <option value="">{{ 'Select'|trans }}</option>
            <option value="0">{{ 'SYS_EV_REPORT_INPROGRESS_FINISHED'|trans }}</option>
            <option value="1">{{ 'SYS_EV_REPORT_INPROGRESS_PENDENT'|trans }}</option>
            <option value="2">{{ 'SYS_EV_REPORT_INPROGRESS_INPROGRESS'|trans }}</option>
          </select>
        </div>
        <div class="col-md-4 form-group">
          <label for="filter-theme">{{ 'SYS_EV_REPORT_FORM_THEME'|trans }}</label>
          <select name="filter-theme" id="filter-theme" class="form-control">
            <option value="">{{ 'Select'|trans }}</option>
          </select>
        </div>
        <div class="col-md-4 form-group">
          <label for="filter-search">{{ 'SYS_EV_REPORT_FORM_SEARCH'|trans }}</label>
          <input type="text" name="filter-search" id="filter-search" class="form-control">
          <a class="inputSearchBtn"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </form-->
    <div class="tabela my-2">
      <table class="table table-sm table-striped table-responsive-md">
        <thead>
          <tr class="fw-normal">
            <th class="">{{ 'Id'|trans }}</th>
            <th class="">{{ 'SYS_EV_REPORT_TH_TITLE'|trans }}</th>
            <th class="">{{ 'SYS_EV_REPORT_TH_FIT'|trans }}</th>
            <th class="">{{ 'SYS_EV_REPORT_TH_THEME'|trans }}</th>
            <th class="">{{ 'SYS_EV_REPORT_TH_DESIGNATIONS'|trans }}</th>
            <th class="">{{ 'SYS_EV_REPORT_TH_EVALUATORS'|trans }}</th>
            <th class="">{{ 'SYS_EV_REPORT_TH_STATUS'|trans }}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in tableData %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ FRAMES[item.fit]|trans }}</td>
            <td>{{ item.theme }}</td>
            <td>{{ item.designations }}</td>
            <td>{{ item.evaluations }}</td>
            <td><span class="badge badge-{{ item.status|article_evaluation_status('color') }} badge-nl text-uppercase">{{ item.status|article_evaluation_status('label')|trans }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
