{# src/layouts/base.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
  <div class="fieldset">
    <div class="row">
      <div class="col-md-10">
        <h1>{{ 'SYS_EV_REPORT_TITLE'|trans }}: {{ 'SYS_EV_REPORT_PENDING_ACTION'|trans }}</h1>
      </div>
      <div class="col-md-2">
        <!--a class="btn btn-primary btn-sm float-right mr-1" data-toggle="tooltip" title="{{ 'SYS_EV_REPORT_EXCEL'|trans }}"><i class="fas fa-file-excel"></i></a-->
      </div>
    </div>
    <!--form action="/system_evaluation/reports/pending_action" class="form mt-0">
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="filter-theme">{{ 'SYS_EV_REPORT_FORM_THEME'|trans }}</label>
          <select name="filter-theme" id="filter-theme" class="form-control">
            <option value="">{{ 'Select'|trans }}</option>
          </select>
        </div>
        <div class="col-md-4 form-group">
          <label for="filter-fit">{{ 'SYS_EV_REPORT_FORM_FIT'|trans }}</label>
          <select name="filter-fit" id="filter-fit" class="form-control">
            <option value="">{{ 'Select'|trans }}</option>
          </select>
        </div>
        <div class="col-md-4 form-group">
          <label for="filter-search">{{ 'SYS_EV_REPORT_FORM_SEARCH'|trans }}</label>
          <input type="text" name="filter-search" id="filter-search" class="form-control">
          <a class="inputSearchBtn"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </form-->
    <div class="tabela my-2">
      <table class="table table-sm table-striped table-responsive-md">
        <thead>
          <tr class="fw-normal">
            <th class="">{{ 'Id'|trans }}</th>
            <th class="" width="100">{{ 'SYS_EV_REPORT_TH_THEME'|trans }}</th>
            <th class="" width="200">{{ 'SYS_EV_REPORT_TH_TITLE'|trans }}</th>
            <th class="">{{ 'SYS_EV_REPORT_TH_FIT'|trans }}</th>
            <th class="" width="150">{{ 'SYS_EV_REPORT_TH_EVALUATOR'|trans }}</th>
            <th class="">{{ 'SYS_EV_REPORT_TH_SITUATION'|trans }}</th>
            <th class="">{{ 'SYS_EV_REPORT_TH_REASON'|trans }}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in tableData %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.theme }}</td>
            <td>{{ item.title }}</td>
            <td>{{ FRAMES[item.fit]|trans }}</td>
            <td>{{ item.evaluator }}</td>
            <td><span class="badge badge-danger badge-nl">{{ item.situation }}</span></td>
            <td>{{ item.reason }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="pendingReasonModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><span >{{ 'SYS_EV_REPORT_TH_REASON'|trans }}</span>: <span class="fill" data-field="id"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times-circle"></i>
        </button>
      </div>
      <div class="modal-body">
        <div><b>{{ 'SYS_EV_REPORT_TH_EVALUATOR'|trans }}</b>: <span class="fill" data-field="evaluator"></span></div>
        <div><b>{{ 'SYS_EV_REPORT_TH_SITUATION'|trans }}</b>: <span class="fill text-danger" data-field="situation"></span></div>
        <div><b>{{ 'SYS_EV_REPORT_TH_REASON'|trans }}</b>:<br/><span class="fill" data-field="reason"></span></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('systemEvaluationReports') }}
{% endblock %}
