
{{ form_start(formAction, {
  'method':'GET', 
  'attr': {'id':'themeActionForm','action':path('theme_evaluation_action'), 'data-url': path('theme_evaluation_action_evaluate'), 'novalidate':'novalidate'}  
  }) }}




<div class="stepsTab" data-step="2">

{% if formAction.vars.value.id %}


  <div class="row">
    <div class="col-md-6 form-group">
      <label for="theme-evaluation-action-portugueseTitle">{{ 'THEME_LIST_NAME'|trans }}</label>
      {{ form_widget(formAction.portugueseTitle, {'attr': {'disabled': true, 'id':'portugueseTitle', 'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6 form-group">    
      <label for="theme-evaluation-action-divisionId">{{ 'ACADEMIC_DIVISION'|trans }}</label>
      {{ form_widget(formAction.divisionId, {'attr': {'disabled': true, 'id':'divisionId', 'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 form-group">
      <label for="theme-evaluation-action-portugueseDescription">{{ 'THEME_DESC'|trans }}</label>
      {{ form_widget(formAction.portugueseDescription, { wrap: 'wrap', 'value': portugueseDescription|striptags('p'),'disabled': true, 'attr': {'id':'portugueseDescription', 'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 form-group">
      <label for="theme-evaluation-action-status">{{ 'Status'|trans }}</label>
      {{ form_widget(formAction.status, {'attr': {'id':'status', 'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 form-group">
      <label for="theme-evaluation-action-reason">{{ 'Reason'|trans }}</label>
      {{ form_widget(formAction.reason, {'attr': {'id':'reason', 'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="col-md-6 offset-md-6 mt-1">
    <a id="themeEvalActionBtn" class="btn btn-lg btn-block btn-primary">{{ 'TEVAL_ACTION_BTN'|trans }}</a>
  </div>

  {% include "@Base/theme/user/partials/_considerations.html.twig" %}

{% else %}
  <h1>{{ 'TEVAL_ACTION_NOTHEME'|trans }}.
{% endif %}
</div>

<input type="hidden" id="themeId" name="themeId" value="{{ themeId }}">
<input type="hidden" id="step" name="step" value="1">
{{ form_end(formAction, {'render_rest': false}) }}