<h1>{{ 'Dados dos Autores'|trans }}</h1>
<div id="author">
    {% if data.userArticlesAuthors is not empty %}

        {% for authors in data.userArticlesAuthors %}

            <div class="card mt-3 author">
                <div class="card-header" id="header-{{ loop.index }}" data-toggle="collapse" data-target="#collapse-{{ loop.index }}">
                    <span>{{ authors.userAuthorId.name }}</span>
                </div>
                <div id="collapse-{{ loop.index }}" class="collapse" aria-labelledby="header-{{ loop.index }}">
                    <div class="card-body">
                        <div class="row form mt-0">
                            <div class="col-2 col-lg-1 div-readonly">
                                <div class="label">{{ 'Ordem'|trans }}</div>
                                <div class="value" data-value="ordem">{{ authors.order }}</div>
                            </div>
                            <div class="col-10 col-lg-5 div-readonly">
                                <div class="label">{{ 'País de Origem'|trans }}</div>
                                <div class="value" data-value="country">{{ authors.userAuthorId.city.country.name }}</div>
                            </div>
                            <div class="col-lg-6 div-readonly">
                                <div class="label">{{ 'CPF'|trans }}</div>
                                <div class="value" data-value="cpf">{{ authors.userAuthorId.identifier }}</div>
                            </div>
                            <div class="col-lg-6 div-readonly">
                                <div class="label">{{ 'Nome Completo'|trans }}</div>
                                <div class="value" data-value="name">{{ authors.userAuthorId.name }}</div>
                            </div>
                            <div class="col-lg-6 div-readonly">
                                <div class="label">{{ 'E-mail'|trans }}</div>
                                <div class="value" data-value="email">{{ authors.userAuthorId.email }}</div>
                            </div>
                            <div class="col-md-3 div-readonly">
                                <div class="label">{{ 'Telefone Celular'|trans }}</div>
                                <div class="value" data-value="celular">{{ authors.userAuthorId.cellphone }}</div>
                            </div>
                            <div class="col-md-3 div-readonly">
                                <div class="label">{{ 'Telefone Fixo'|trans }}</div>
                                <div class="value" data-value="phone">{{ authors.userAuthorId.phone }}</div>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-6 div-readonly">
                                <div class="label">{{ '1 Instituição (vinculada)'|trans }}</div>
                                <div class="value" data-value="institution">{{ authors.institutionsFirst }}</div>
                            </div>
                            <div class="col-md-6 div-readonly">
                                <div class="label">{{ '2 Instituição (vinculada)'|trans }}</div>
                                <div class="value" data-value="institution2">{{ authors.institutionsSecond }}</div>
                            </div>
                            <div class="col-md-6 div-readonly">
                                <div class="label">{{ 'Programa (vinculado)'|trans }}</div>
                                <div class="value" data-value="program">{{ authors.programsFirst }}</div>
                            </div>
                            <div class="col-md-6 div-readonly">
                                <div class="label">{{ 'Programa (vinculado)'|trans }}</div>
                                <div class="value" data-value="program2">{{ authors.programsSecond }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'Nenhum resultado encontrado.'|trans }}
        </div>
    {% endif %}
</div>
