<footer>
    <div class="info-footer">
        <div class="container py-5">
            <div class="row d-block d-lg-flex py-5">
                <div class="col-lg-4">
                    <a class="" href="index.html"><img class="footer-logo" src="{{ asset('build/images/v2/anpad-logo-footer.png') }}" alt="Anpad" title="Anpad"></a>
                </div>
                <div class="col-lg-8 rede-social">
                    <div class="row pb-5">
                        <div class="col-6 col-lg-3 pb-4">
                            <a href="https://pt-br.facebook.com/oficial.anpad/" target="_blanck"><img src="{{ asset('build/images/v2/facebook.png') }}" alt="Anpad Facebook" class="mr-3">/anpad.oficial</a>
                        </div>
                        <div class="col-6 col-lg-3 pb-4">
                            <a href="https://www.linkedin.com/company/anpad/" target="_blanck"><img src="{{ asset('build/images/v2/linkedin.png') }}" alt="Anpad Linkedin" class="mr-3">ANPAD</a>
                        </div>
                        <div class="col-6 col-lg-3 pb-4">
                            <a href="https://www.instagram.com/anpad.oficial/" target="_blanck"><img src="{{ asset('build/images/v2/instagram.png') }}" alt="Anpad Instagram" class="mr-3">/oficial.anpad</a>
                        </div>
                        <div class="col-6 col-lg-3 pb-4">
                            <a href="https://twitter.com/ANPAD_Oficial?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blanck">
                                <img src="{{ asset('build/images/v2/twitter.png') }}" alt="Anpad Twitter" class="mr-3">
                                ANPAD_oficial
                            </a>
                        </div>
                    </div>

                    <div class="row contatos pb-5">
                        <div class="col-6 col-md-4">
                            <h3>Telefones ANPAD</h3>
                            <p><a href="tel:4433548545">(44) 3354-8545</a></p>
                            <p><a href="tel:44988262467">(44) 98826-2467</a></p>
                        </div>
                        <div class="col-6 col-md-5 text-uppercasee">
                            <h3>Endereço</h3>
                            <p>Av. Pedro Taques, 294</p>
                            <p>CEP 87030-008 - Maringá, PR, Brasil</p>
                        </div>
                    </div>

                    <div class="rodape-text">
                        <p>Associação Nacional de Pós Graduação e Pesquisa em Administração - CNPJ 42.595.652/0001-66</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>