<div class="stepsTab" data-step="0">

    <div class="row">
        <div class="col-lg-6">
            <h1>{{ 'SIGNUP_STEP0'|trans }}</h1>
        </div>
        <div class="col-lg-6">
            <p class="text-danger text-right mt-0">{{ '* Campos obrigatórios'|trans }}</p>
        </div>
    </div>

    <div class="row">

        <div class="col-12 form-group">
            <label class="required-{{ form.locale.vars.required }}" for="locale">{{ 'Language' | trans }}</label>
            <div class="radiocheck center">
                {% for locale in form.locale %}
                    {% set label = locale.vars.label %}
                    <div class="form-check form-check-inline">
                        {{ form_widget(locale, {'attr': { 'id': locale.vars.id, 'class': 'form-check-input' }}) }}
                        <label class="form-check-label" for="{{ locale.vars.id }}">
                            {{ label| trans }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            {% if form.locale.vars['errors']|length > 0 %}
                <div class="form-error invalid-feedback">
                    {% for error in form.locale.vars['errors'] %}
                        {{ error.message }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="col-lg-4 form-group">
            <label class="required-{{ form.recordType.vars.required }}" for="typeRecord">{{ 'Nationality' | trans }}</label>
            <div class="radiocheck center">
                {% for recordType in form.recordType %}
                    {% set label = recordType.vars.label %}
                    <div class="form-check form-check-inline">
                        {{ form_widget(recordType, {'attr': { 'id': recordType.vars.id, 'class': 'form-check-input', 'data-label': label|trans }}) }}
                        <label class="form-check-label" for="{{ recordType.vars.id }}">
                            {{ label|trans }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            {% if form.recordType.vars['errors']|length > 0 %}
                <div class="form-error invalid-feedback">
                    {% for error in form.recordType.vars['errors'] %}
                        {{ error.message }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="col-lg-4 form-group">
            <label class="required-{{ form.isForeignUseCpf.vars.required }}" for="isForeignUseCpf">{{ 'Do you have CPF?' | trans }}</label>
            <div class="radiocheck center">
                {% for isForeignUseCpf in form.isForeignUseCpf %}
                    {% set label = isForeignUseCpf.vars.label %}
                    <div class="form-check form-check-inline">
                        {{ form_widget(isForeignUseCpf, {'attr': { 'id': isForeignUseCpf.vars.id, 'class': 'form-check-input' }}) }}
                        <label class="form-check-label" for="{{ isForeignUseCpf.vars.id }}">
                            {{ label| trans }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            {% if form.isForeignUseCpf.vars['errors']|length > 0 %}
                <div class="form-error invalid-feedback">
                    {% for error in form.isForeignUseCpf.vars['errors'] %}
                        {{ error.message }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="col-lg-4 form-group">
            <label class="required-{{ form.isForeignUsePassport.vars.required }}" for="isForeignUsePassport">{{ 'Identification on the Website' | trans }}</label>
            <div class="radiocheck center">
                {% for isForeignUsePassport in form.isForeignUsePassport %}
                    {% set label = isForeignUsePassport.vars.label %}
                    <div class="form-check form-check-inline">
                        {{ form_widget(isForeignUsePassport, {'attr': { 'id': isForeignUsePassport.vars.id, 'class': 'form-check-input' }}) }}
                        <label class="form-check-label" for="{{ isForeignUsePassport.vars.id }}">
                            {{ label| trans }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            {% if form.isForeignUsePassport.vars['errors']|length > 0 %}
                <div class="form-error invalid-feedback">
                    {% for error in form.isForeignUsePassport.vars['errors'] %}
                        {{ error.message }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    </div>
    <div class="row">

        <div class="col-lg-6 form-group">
            <label class="required-{{ form.identifier.vars.required }}" for="identifier">{% trans %}Document{% endtrans %}</label>
            {{ form_widget(form.identifier, {'attr': {'id':'identifier', 'class': 'form-control'}}) }}
            {% if form.identifier.vars['errors']|length > 0 %}
                <div class="form-error invalid-feedback">
                    {% for error in form.identifier.vars['errors'] %}
                        {{ error.message }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="col-lg-6 form-group">
            <label class="required-{{ form.email.vars.required }}" for="email">{% trans %}E-mail{% endtrans %}</label>
            {{ form_widget(form.email, {'attr': {'id':'email','class': 'form-control'}}) }}
            {% if form.email.vars['errors']|length > 0 %}
                <div class="form-error invalid-feedback">
                    {% for error in form.email.vars['errors'] %}
                        {{ error.message }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    </div>
</div>
