{% if entity.id != '' %}
    {{ form_start(form, {'attr': {'id':'certificateForm', 'class': 'form', 'action':path('certificate_new_manual', {id: entity.id}), 'novalidate': 'novalidate', 'enctype':'multipart/form-data'}}) }}
{% else %}
    {{ form_start(form, {'attr': {'id':'certificateForm', 'class': 'form', 'action':path('certificate_new_manual', {edition: edition.id, id: entity.id}), 'novalidate': 'novalidate', 'enctype':'multipart/form-data'}}) }}
{% endif %}

<div class="row">
    <div class="col-md-12 form-group">
        <label for="certificate_manual_user">Usuário</label>
        {{ form_widget(form.user, {'attr': {'class': 'form-control no-select2', 'data-api-url': path('user_search', {'signupEdition': edition.id}), 'data-signupEdition': edition.id}} ) }}
        {% if form.user.vars['errors']|length > 0 %}
            <div class="form-error invalid-feedback">
                {{ form.user.vars['errors'][0].message }}
            </div>
        {% endif %}
    </div>
    <div class="col-md-12 form-group">
        <label for="certificate_manual_title">Título</label>
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {% if form.title.vars['errors']|length > 0 %}
            <div class="form-error invalid-feedback">
                {{ form.title.vars['errors'][0].message }}
            </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-7 form-group">
        <label for="certificate_manual_description">Descrição</label>
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {% if form.description.vars['errors']|length > 0 %}
            <div class="form-error invalid-feedback">
                {{ form.description.vars['errors'][0].message }}
            </div>
        {% endif %}
    </div>
    <div class="col-md-5">
        <label>&nbsp;</label>
        <div class="password-tip alert alert-warning">
            <ul>
                <li>
                    <i class="fas fa-exclamation-triangle"></i>
                    <b>{{ 'Variáveis disponíveis' | trans }}</b>
                </li>
                <li>- {{ '%user_name%: Nome do usuário' | trans }}</li>
                <li>- {{ '%user_identifier%: CPF/Passaporte do usuário' | trans }}</li>
                <li>- {{ '%edition_name%: Nome da edição' | trans }}</li>
                <li>- {{ '%edition_longname%: Nome da edição por extenso' | trans }}</li>
                <li>- {{ '%edition_place%: Local da edição' | trans }}</li>
                <li>- {{ '%edition_workload%: Carga horária da edição' | trans }}</li>
                <li>- {{ '%edition_voluntaryWorkload%: Carga horária para voluntário' | trans }}</li>
                <li>- {{ '%edition_date%: Data da edição' | trans }}</li>
            </ul>
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-md-12 form-group">
        <label for="certificate_manual_content">Conteúdo</label>
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        {% if form.content.vars['errors']|length > 0 %}
            <div class="form-error invalid-feedback">
                {{ form.content.vars['errors'][0].message }}
            </div>
        {% endif %}
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        <a class="btn btn-lg btn-outline-primary" href="{{ path('certificate_list', {'edition': edition.id}) }}">{{ 'CANCEL'|trans }}</a>
    </div>
    <div class="col-md-6">
        <button type="submit" class="btn btn-lg btn-block btn-primary">
            {{ 'SAVE'|trans }} <i id="btnLoad"></i>
        </button>
    </div>
</div>

{{ form_end(form) }}

<style type="text/css">
    .select2-dropdown {
        max-width: 500px !important;
    }
</style>
