{% set last = constant('App\\Bundle\\Base\\Controller\\Site\\ThemeSubmissionController::LAST_STEP') %}
<div class="stepsTab" data-step="{{ last }}" style="display: {{ last == step ? 'block' : 'none' }};">
    <div class="text-center">
        <div class="col-lg-6 offset-lg-3">
            <h1>{{ 'THEME_STEP_LAST_HEAD'|trans }}</h1>
            <div class="cadastroSuccess">
                <div class="title m-0">{{ 'THEME_SUBMITED'|trans }}.</div>
                <div>{{ 'THEME_SUBMITED_MSG'|trans }}.</div>
            </div>
            <a href="{{ path('index') }}" class="btn btn-block btn-primary">{{ 'PANEL_BACK'|trans }}</a>
        </div>
    </div>
</div>
