<div class="row">
  <div class="col-md-8">
    <h1>{{ 'GESTOR_INFO_TYPE_TITLE_LIST'|trans }}</h1>
  </div>
  <div class="col-md-4">
    <a class="btn btn-primary btn-sm float-right" id="newType">
      <i class="fas fa-plus mr-2"></i>{{ 'GESTOR_INFO_TYPE_NEW'|trans }}
    </a>
  </div>
</div>
<div class="tabela my-2">
  <table class="table table-sm table-striped table-responsive-md">
    <thead>
      <tr>
        <th width="100" class="sort">{{ 'Id'|trans }}</th>
        <th width="100" class="sort asc">{{ 'GESTOR_INFO_LABEL_ORDER'|trans }}</th>
        <th class="sort">{{ 'GESTOR_INFO_LABEL_TITLE'|trans }}</th>
        <th class="sort">{{ 'GESTOR_INFO_LABEL_STATUS'|trans }}</th>
        <th width="100">{{ 'GESTOR_INFO_LABEL_EDIT'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for i in types %}
      <tr data-data="{{ i|json_encode }}">
        <td>{{ i.id }}</td>
        <td>{{ i.order }}</td>
        <td>{{ i.title }}</td>
        <td>
          <span class="badge badge-{{ i.status|active_inactive('color') }} text-uppercase">
            {{ i.status|active_inactive('label')|trans }}
          </span>
        </td>
        <td>
          <a class="hover-success detailsType" data-toggle="tooltip" title="{{ 'GESTOR_INFO_TOOLTIP_SEE_ITEMS'|trans }}">
            <i class="fas fa-eye"></i>
          </a>
          <a class="hover-success ml-2 editType" data-toggle="tooltip" title="{{ 'GESTOR_INFO_TOOLTIP_EDIT_TYPE'|trans }}">
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a class="hover-danger ml-2 tdDel" data-toggle="tooltip" title="{{ 'GESTOR_INFO_TOOLTIP_DEL_TYPE'|trans }}" data-path="/save_success" data-token="{{ csrf_token('delete' ~ i.id) }}" data-action="remove" data-type="{{ 'GESTOR_INFO_LABEL_TYPE'|trans }}" data-name="{{ i.title }}">
            <i class="fas fa-times"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav class="d-flex justify-content-between">
    <small class="text-muted">Mostrando 6 de 1748</small>
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Anterior</a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Próxima</a>
      </li>
    </ul>
  </nav>
</div>